:root {
  --body-color: #ffeef4;
  --btn-outline-color: #ffbebe;
  --heading-font-family: "poppins", sans-serif;
  --default-font-family: "playfair display", serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}

h4 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--body-color);
  text-align: center;
  padding: 100px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: bold;
  line-height: 2;
  font-size: 24px;
}
.content-container {
  padding: 60px 20px;
}
.content h1 {
  font-size: 58px;
  line-height: 80px;
  font-family: var(--heading-font-family);
}

.content h2 {
  font-size: 22px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  font-family: var(--heading-font-family);
}

.content p {
  font-size: 14px;
}

.content-container p {
  font-family: var(--default-font-family);
}

.content {
  margin: 30px;
}

.btn-outline {
  background: var(--btn-outline-color);
  border-radius: 6px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-outline:hover {
  color: black;
  background: var(--btn-outline-color);
}

.container-index {
  padding: 10px 10px;
}

.btn-projects {
  background: var(--btn-outline-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 20px;
  border-radius: 6px;
}
.btn-projects:hover {
  background-color: var(--btn-outline-color);
  color: black;
}

.project-description {
  padding: 110px 20px;
  text-align: center;
}

.direction-paragraph {
  font-size: 20px;
  font-weight: 500;
}

.navbar-custom {
  background-color: var(--body-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--body-color);
  padding: 30px 50px;
  border-radius: 5px;
  margin: 120px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  color: black;
  font-size: 24px;
  text-decoration: none;
}

footer .email-link:hover {
  color: var(--btn-outline-color);
}

footer .social-links a {
  margin: 0 20px;
  color: black;
  font-size: 24px;
  padding: 10px 16px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  background: var(--btn-outline-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
    line-height: 56px;
  }
  h2 {
    font-size: 45px;
  }

  h4 {
    font-size: 20px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .direction-paragraph {
    font-size: 30px;
  }

  .container-index {
    padding: 0 10px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
